<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobileforce.hometeach">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/launcher_icon"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.signup.SignUpActivity" />

        <activity
            android:name=".ui.signin.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.OnBoardingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ExploreActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".ui.HomeNavigationDrawerActivity" />
        <!-- metadata for PayStack -->
        <meta-data
            android:name="co.paystack.android.PublicKey"
            android:value="pk_test_f4f8ba74f53540331c0d2f32fa4c8ac561e2311c"/>
    </application>

</manifest>